#alacritty
alsi
autostart
awesome
BetterDiscord
BetterDiscord Installer
BraveSoftware
#bspwm
coc
Code
dconf
deepin
discord
eog
gtk-3.0
htop
i3
inkscape
Kite
kitty
libreoffice
lsd
lxterminal
menus
mimeapps.list
mpd
mpDris2
nautilus
ncmpcpp
neofetch
#nvim
#picom
polybar
polybar.old
pulse
QtProject.conf
ResponsivelyApp
rofi
rofi.old
spotify
starship
#sxhkd
systemd
user-dirs.dirs
user-dirs.locale
vlc
yay
GIMP
gtk-2.0
obs-studio

# ----- nvim
plugged

# ----- alacritty
night
themes
